PORT=3000
MP_WEBHOOK_VALIDATE=false
MP_WEBHOOK_SECRET=CHANGE-ME

# Mercado Pago - Credenciais de Produção
MERCADOPAGO_ACCESS_TOKEN=YOUR-MP-ACCESS-TOKEN-HERE

# Reuse same Firebase app as frontend
FIREBASE_PROJECT_ID=open-kiosk-22b2b
FIREBASE_API_KEY=AIzaSyCaRS-fnWiUwNtPjlCmcIzlz4003lDdP8s